@model Student 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apply</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Apply the course</h4></div>
        <div class="panel-body">
            <form asp-action="apply" method="post">
                <div asp-validation-summary="All">

                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="WillAttend">will Attend</label>
                    <select asp-for="WillAttend" class="form-control">
                        <option value="">Select an option</option>
                        <option value="true">I, will attend</option>
                        <option value="false">No, I will no attend</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>


            </form>
        </div>
    </div>
   

</body>
</html>
