
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Myview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <div class="text-center">
        <h3>  @ViewBag.Greeting student, How are you??</h3>

        <h4>Hope, you will enjoy this course</h4>
        <a asp-action="apply" class="btn btn-primary">Apply the course</a>
    </div>
</body>
</html>
