
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
            merhaba
    </div>
    <br />
    <h3>mvc kamp tablo örneği</h3>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>state</th>
        </tr>
        <tr>
            <td>1</td>
            <td>deneme</td>
            <td>deneme</td>
            <td>deneme</td>
            <td>deneme</td>
        </tr>


    </table>
</body>
</html>
